body{
	rgba:url(t.jpg);
}
	.qaz{
	display: flex;
}
.a{
	background-color: #000000;
	padding: 40px;
	width:10%;
}
.b{
	background-color: #00001a;
	padding: 40px;
	width:10%;
}

.c{
	background-color: #000033;
	padding: 40px;
	width:10%;
}
.d{
	background-color: #00004d;
	padding: 40px;
	width:10%;
}
.e{
	background-color: #000066;
	padding: 40px;
	width:10%;
}
.f{
	background-color: #000080;
	padding: 40px;
	width:10%;
}
.g{
	background-color: #000099;
	padding: 40px;
	width:10%;
}
.h{
	background-color: #0000b3;
	padding: 40px;
	width:10%;
}
.i{
	background-color: #0000cc;
	padding: 40px;
	width:10%;
}
.j{
	background-color: #0000e6;
	padding: 40px;
	width:10%;
}



.zxc{
	display: flex;
}
.aa{
	background-color: #000000;
	padding: 40px;
	width:10%;
}
.bb{
	background-color: #001a00;
	padding: 40px;
	width:10%;
}

.cc{
	background-color: #003300;
	padding: 40px;
	width:10%;
}
.dd{
	background-color: #004d00;
	padding: 40px;
	width:10%;
}
.ee{
	background-color: #006600;
	padding: 40px;
	width:10%;
}
.ff{
	background-color: #008000;
	padding: 40px;
	width:10%;
}
.gg{
	background-color: #009900;
	padding: 40px;
	width:10%;
}
.hh{
	background-color: #00b300;
	padding: 40px;
	width:10%;
}
.ii{
	background-color: #00cc00;
	padding: 40px;
	width:10%;
}
.jj{
	background-color: #00e600;
	padding: 40px;
	width:10%;
}













.zxcz{
	display: flex;
}
.aaz{
	background-color: #000000;
	padding: 40px;
	width:10%;
}
.bbx{
	background-color: #1a000a;
	padding: 40px;
	width:10%;
}

.ccc{
	background-color: #330014;
	padding: 40px;
	width:10%;
}
.vdd{
	background-color: #4d001f;
	padding: 40px;
	width:10%;
}
.bee{
	background-color: #660029;
	padding: 40px;
	width:10%;
}
.nff{
	background-color: #800033;
	padding: 40px;
	width:10%;
}
.mgg{
	background-color: #99003d;
	padding: 40px;
	width:10%;
}
.mhh{
	background-color: #b30047;
	padding: 40px;
	width:10%;
}
.mii{
	background-color: #cc0052;
	padding: 40px;
	width:10%;
}
.njj{
	background-color: #e6005c;
	padding: 40px;
	width:10%;
}
.zxcza .nffh button a{
    font-size: 24px;
    text-decoration: none;
    color: red;
}








.zxcza{
	display: flex;
}
.aaza{
	background-color: #000000;
	padding: 40px;
	width:10%;
}
.bbxs{
	background-color: #1a1a00;
	padding: 40px;
	width:10%;
}

.cccd{
	background-color: #333300;
	padding: 40px;
	width:10%;
}
.vddf{
	background-color: #4d4d00;
	padding: 40px;
	width:10%;
}
.beeg{
	background-color: #666600;
	padding: 40px;
	width:10%;
}
.nffh{
	background-color: #808000;
	padding: 40px;
	width:10%;
}
.mggj{
	background-color: #999900;
	padding: 40px;
	width:10%;
}
.mhhk{
	background-color: #b3b300;
	padding: 40px;
	width:10%;
}
.miil{
	background-color: #cccc00;
	padding: 40px;
	width:10%;
}
.njjq{
	background-color: #e6e600;
	padding: 40px;
	width:10%;
}

